/*************** Estilização Geral *************/
body {
	background-color: #1d2124;
}
body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar {
	width: 11px;
	background: rgba(0, 0, 0, 0.7);
}
body::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 5px;
	background-color: #555;
}
/*************** Estilização Menu **************/
nav.navbar a.navbar-brand {
	color: #ff6666;
	margin: 0;
}
nav.navbar form.form-inline {
	width: 400px;
}
nav.navbar form.form-inline > input {
	width: 100%;
}
section > div.row > div.titulo-section > h3 {
	padding: 25px 0;
	text-align: center;
	color: #c8cbcf;
}
/************* Estilização filmes em cartaz**********/
#modal-filme {
	padding: 0 8px !important;
}
#modal-filme > .modal-dialog {
	max-width: 1000px;
}
#modal-filme .modal-header {
	background-color: #ff6666;
	color: #FFF;
}
#modal-filme .modal-header > h5 {
	margin: 0;
}
#carousel-filmes-cartaz .item-filme {
	margin: auto;
	height: 280px;
}
#carousel-filmes-cartaz .item-filme > a {
	opacity: 0.6;
	display: flex;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	transition: 0.5s;
}
#carousel-filmes-cartaz .item-filme > a:hover {
	opacity: 1;
	transition: 0.5s;
}

/*********** Estilizaçao da apresentação dos detalhes do filme */
#desc-filme {
	padding: 0;
}
#desc-filme .card {
	border: 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
#desc-filme .filme {
	padding: 12px;
	background-color: #495057;
	color: #FFF;
}
#desc-filme .filme > div.col-sm-8 {
	background-image: url(../imagens/sem_imagem.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
#desc-filme .filme > div.col-sm-8:after {
	content: '';
	position: absolute;
	background-color: #1d2124;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 0;
	opacity: 0.8;
}
#desc-filme .filme > div.col-sm-8 > div.card-body {
	padding: 1rem 1.25rem;
	position: relative;
	z-index: 2;
}
#desc-filme .filme > div.col-sm-8 > div > p.sinopse {
	text-align: justify;
	height: 115px;
	overflow: auto;
	padding: 5px;
	background-color: #b12b2b45;
	border-radius: 10px;
}
#desc-filme .filme > div.col-sm-8 > div > p.sinopse::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
	border-radius: 5px;
}
#desc-filme .filme > div.col-sm-8 > div > p.sinopse::-webkit-scrollbar {
	width: 11px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}
#desc-filme .filme > div.col-sm-8 > div > p.sinopse::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	border-radius: 5px;
	background-color: #ff6666;
}
#desc-filme > div > div > div.col-sm-8 > div > p.card-text.nota {
	position: relative;
}
#desc-filme > div > div > div.col-sm-8 > div > p.card-text.nota > i {
	margin-right: 10px;
}
#desc-filme > div > div > div.col-sm-8 > div > p.card-text.nota > a {
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	color: white;
	border: 1px solid #FFF;
	padding: 5px;
	border-radius: 5px;
}
#desc-filme > div > div > div.col-sm-8 > div > p.card-text.nota > a > i {
	margin-right: 8px;
}
@media (max-width: 576px) {
	#desc-filme .filme > div.col-sm-4 {
		display: block;
		text-align: center;
	}
	#desc-filme .filme > div.col-sm-4 > .card-img {
		max-width: 300px;
		height: auto;
	}
}
/************** Top Rated ****************/
#body-filmes-top-rated .grafico {
	max-width: 750px;
	position: relative;
	margin: auto;
}
#body-filmes-top-rated > div > div > div.filtros {
	/*font-size: 15px;*/
	color: #FFF;
}

/************** Estilizaçao Copyright ****************/
body > footer {
	background-color: #343a40;
}
body > footer > div {
	color: #FFF;
}
body > footer > div > a {
	text-decoration: none;
	color: #ff6666;
}
body > footer > div > a:hover {
	text-decoration: none;
	color: #FFF;
}